.qui-icon {
  display: inline-flex;
  flex-shrink: 0;
}

.qui-icon svg {
  width: 100%;
  height: 100%;
}

.qui-icon.size--xs {
  width: var(--spacing-2);
  height: var(--spacing-2);
}

.qui-icon.size--sm {
  width: var(--spacing-3);
  height: var(--spacing-3);
}

.qui-icon.size--md {
  width: var(--spacing-4);
  height: var(--spacing-4);
}

.qui-icon.size--lg {
  width: var(--spacing-5);
  height: var(--spacing-5);
}

.qui-icon.size--xl {
  width: var(--spacing-6);
  height: var(--spacing-6);
}

.qui-icon.size--2xl {
  width: var(--spacing-8);
  height: var(--spacing-8);
}

.qui-icon.size--3xl {
  width: var(--spacing-10);
  height: var(--spacing-10);
}

.qui-icon.size--4xl {
  width: var(--spacing-12);
  height: var(--spacing-12);
}

.qui-icon.size--5xl {
  width: var(--spacing-16);
  height: var(--spacing-16);
}

.qui-icon.size--auto {
  width: 100%;
  height: 100%;
}
